.word-printer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  margin: 0 auto;
  
  border: 5px dashed rgba(28,110,164,0.63);
  border-radius: 14px 14px 14px 14px;
}

.word-printer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.word-printer__word {
 
  font-size: 36px;
  margin: 0;
}

.word-printer__cursor {
  animation: blink 0.7s infinite;
}

.word-printer__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #0480fc ;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .word-printer {
    width: 70%;
    height: 100px;

  }
  .word-printer__word{
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .word-printer {
    width: 70%;
    height: 100px;

  }
  .word-printer__word{
    font-size: 20px;
  }
}
